nav {
  position: fixed;
  box-sizing: border-box;
  height: 120px;
  width: 100vw;
  z-index: 1000;
  background-color: #4056A1;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  color: #FFF;
  padding: 1.5em;
  border-bottom: 3px double white;
}

nav span {
  font-family: 'Bungee', sans-serif;
  margin: auto;
  color: #FFF;
  font-size: 200%;
}

nav p {
  float: right;
  position: relative;
  top: -1.5em;
  text-align: center;
}

.write {
  color: white;
  font-size: 3em;
}
.write:hover {
  cursor:pointer;
}