/* --- Form Style --- */
section.new-tweet{
  font-weight: 700;
  margin-top: 1.5em;
}
form textarea {
  width: 100%;
  border-radius: 10px;
  padding: 1em;
}
form input {
  border-radius: 10px 5px;
  background-color: #0AF;
  color: whitesmoke;
}
form span.counter {
  color: #0AF;
  text-shadow: -2px -2px 1px white;
  float: right;
}
form span.counter.warning, .warning {
  color:red;
}
#errNone, #errLong {
  display:none;
  width: 100%;
  text-align: center;
}