/* --- Form Style --- */
section.new-tweet{
  font-weight: 700;
}
form textarea {
  width: 100%;
  border-radius: 10px;
  padding: 1em;
}
form input {
  border-radius: 10px 5px;
  background-color: #0AF;
  color: whitesmoke;
}
form span.counter {
  color: #0AF;
  float: right;
}
form span.counter.warning {
  color:red;
}