.tweet{
  background-color: #0AF;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  color:whitesmoke;
  padding: 5px;
  border: 3px solid black;
  border-radius: 15px;
  margin: 1.5em 0;
}
.tweet img:hover{
  box-shadow:1px 0px 2px cyan, 0px 1px 2px cyan, -1px 0px 2px cyan, 0px -1px 2px cyan;
}
.tweet *:hover{
  text-shadow:1px 0px 2px cyan, 0px 1px 2px cyan, -1px 0px 2px cyan, 0px -1px 2px cyan;
}
.tweetOptions a:hover{
  text-shadow:10px 0px 10px cyan, 0px 1px 2px cyan, -1px 0px 2px cyan, 0px -1px 2px cyan;

}

.tweet img{
  box-sizing: border;
  height: 3em;
  border:3px solid #555;
  border-radius: 50%;
}

.tweet span.tweetUserName{
  font-weight: 700;
  font-size:2.5em;
  position: relative;
  bottom: 0.25em;
}
.tweet span.tweetHandle{
  float:right;
  font-weight: 700;
}

.tweet p.tweetContent{
  font-weight: 700;
  text-justify: auto;
  padding: 1em;
}

.tweet span.tweetDate{
  color:grey;
  font-weight: 700;
  text-shadow: -1px -1px 0 white;

}

.tweetOptions{
  float: right;
  border-radius: 10px 5px;
  background-color: #0AF;
  color: whitesmoke;
}
section.tweet a{
  margin:0 3px;
  padding:5px;
  color:white;
}
article.tweet a{
  margin:0 3px;
  padding:5px;
  color:white;
}